[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/hexHighlight"]
	path = bundle/hexHighlight
	url = git://github.com/yurifury/hexHighlight.git
[submodule "bundle/vim-HiLinkTrace"]
	path = bundle/vim-HiLinkTrace
	url = git://github.com/gerw/vim-HiLinkTrace.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = git://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
